.box {
    display: inline-block;
    padding: 12px 18px;
    border: 2px solid #333; 
    border-radius: 12px;
    background-color: #ff0000; /* 赤背景のままでもOK */
    color: #fff;               /* 赤背景なので文字を白く */
    font-size: 1.6rem;
}

@media(max-width:450px){
    .box {
              font-size: 45px;     
    }
}